<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.product.mapper.ProductMapper">
	<select id="searchList" parameterType="String" resultType="product">
		select * from product where pname like '%' || #{search} || '%'
	</select>
	<insert id="insertLog" parameterType="map">
		insert into product_log  values(to_date(#{date},'YYYY_MM_DD_HH_MI_SS'),#{code},#{content})
	</insert>
</mapper>






