<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="config.member_mapper">
 	<select id="selectAllMember" resultType="dto.MemberDTO">
 		select * from member
 	</select>
  	<insert id="insertMember" parameterType="dto.MemberDTO">
  		insert into member values(#{id},#{passwd},#{name},#{age},#{gender},#{point},#{grade})
  	</insert>
  	<delete id="deleteMember" parameterType="String">
  		delete from member where id = #{id}
  	</delete>
  	<update id="updateMember" parameterType="dto.MemberDTO">
  		update member set passwd = #{passwd}, name = #{name},age = #{age}, gender  = #{gender},
  		point = #{point},grade = #{grade} where id = #{id}
  	</update>
  	<select id="selectMember" parameterType="Map" resultType="dto.MemberDTO">
  		select * from member
  		<choose>
  			<when test="kind.equals('id')">
  				where id like '%' || #{search} || '%'
  			</when>
  			<when test="kind.equals('name')">
  				where name like '%' || #{search} || '%'
  			</when>
  			<when test="kind.equals('grade')">
  				where grade = #{search}
  			</when>
  			<when test='kind=="gender" and search=="남"'>
  					where gender = '0'
  			</when>
  			<when test='kind=="gender" and search=="여"'>
  					where gender = '1'
  			</when>
  		</choose>
  	</select>
  	<update id="updatePoint" parameterType="Map">
  		update member set point = #{point} where id = #{id}
  	</update>
  	
</mapper>








