<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.korea.mapper.BoardMapper">
	<select id="selectBoard" parameterType="int" resultType="board">
		select * from (select b.*, ceil(rownum/5)  as pageno from 
		(select * from board_list order by bno desc) b)
		where pageno = #{pageno}
	</select>
	<select id="selectBoardNo" resultType="int">
		select board_no_seq.nextval from dual
	</select>
	<insert id="insertBoard" parameterType="board">
		insert into board(bno,title,writer,bdate,content,bcount)
		values(#{bno},#{title},#{writer},sysdate,#{content},0)
	</insert>
	<insert id="insertFileInfo" parameterType="file">
		insert into board_file_list values(file_no_seq.nextval,#{bno},#{writer},#{path},sysdate,#{originFileName})
	</insert>
	<select id="selectBoardContent" parameterType="int" resultType="board">
		select * from board where bno = #{bno}
	</select>	
	<select id="selectFileList" parameterType="int" resultType="file">
		select * from board_file_list where bno = #{bno}
	</select>
	<select id="selectFile" parameterType="int" resultType="file">
		select * from board_file_list where fno = #{fno}
	</select>
</mapper>






