<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.korea.mapper.MemberMapper">
	<select id="login" parameterType="Map" resultType="member">
		select * from member where id = #{id} and passwd = #{pass}
	</select>
	<insert id="insertMember" parameterType="member">
		insert into member(id,passwd,name,age,gender)
		values(#{id},#{passwd},#{name},#{age},#{gender})
	</insert>
	<select id="idCheck" parameterType="String" resultType="member">
		select * from member where id = #{id}
	</select>
</mapper>