<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="config.sqlmapper">
  <select id="selectAllEmployee" resultType="dto.EmployeeDTO">
    select * from employee
  </select>
  <select id="selectEmployee" parameterType="String" resultType="dto.EmployeeDTO">
    select * from employee where eno = #{eno}
  </select>
  <insert id="insertEmployee" parameterType="dto.EmployeeDTO">
  		insert into employee(eno,name, position,department)
  		values(#{eno}, #{name},#{position},#{department})
  </insert>
  <update id="updatePosition" parameterType="int">
  
  </update>
</mapper>