<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="config.sqlmapper">
  <select id="selectAllEmployee" resultType="dto.EmployeeDTO">
    select * from employee
  </select>
  <select id="selectEmployee" parameterType="String" resultType="dto.EmployeeDTO">
    select * from employee where eno = #{eno}
  </select>
  <insert id="insertEmployee" parameterType="dto.EmployeeDTO">
  		insert into employee(eno,name, position,department)
  		values(#{eno}, #{name},#{position},#{department})
  </insert>
  <update id="updatePosition">
  	update employee set position = 2 where position = 1
  </update>
  <!-- 사원들의 직급이 시작값 ~ 마지막값을 보내서 조회  -->
  <select id="selectPosition" resultType="dto.EmployeeDTO" parameterType="Map">
  	select * from employee where position between #{n1} and #{n2}
  </select>
  <!-- 직급별 인원수를 조회 -->
  <select id="selectPositionCount" resultType="Map">
  	select pl.name, count(*) as e_count from employee e, position_list pl
		where e.position = pl.pno group by pl.name 
  </select>
  <select id="selectSearchEmployee" parameterType="Map" resultType="dto.EmployeeDTO">
		select * from employee where 
		<if test="kind.equals('name')">
			name like '%' || #{search} || '%'
		</if>
		<if test="kind.equals('eno')">
			eno = #{search}
		</if>
		<if test="kind.equals('department')">
			department = #{search}
		</if>
		
  </select>
  
</mapper>








